body {

margin:0;

background:#1b2838;

color:#d6d7d8;

font-family:Arial;

}


header {

height:90px;

background:#171d25;

display:flex;

align-items:center;

padding-left:15%;

gap:40px;

}



.steam-logo {

font-size:45px;

color:#66c0f4;

font-weight:bold;

}



nav {

color:white;

}





main {

width:1000px;

margin:40px auto;

}



.game-title {

font-size:36px;

color:white;

margin-bottom:20px;

}




.hero {


height:420px;


background:

linear-gradient(
90deg,
rgba(0,0,0,.8),
rgba(0,0,0,.1)
),

url("borealis.jpg");


background-size:cover;


display:flex;

align-items:end;


}





.hero-text {

padding:40px;

}



.hero h1 {

font-size:60px;

color:white;

}




.purchase {


background:#16202d;

padding:25px;

display:flex;

justify-content:space-between;

}



.rating {

color:#66c0f4;

}



.buy-box {

font-size:30px;

}



button {


background:#75b022;

border:0;

padding:15px 40px;

color:white;

font-size:18px;

display:block;

margin-top:15px;

}





.card {


background:#16202d;

padding:25px;

margin-bottom:20px;

line-height:1.6;

}





.features {


display:flex;

gap:15px;

flex-wrap:wrap;

}


.features div {


background:#2a475e;

padding:15px;

}




.review {


background:#16202d;

padding:20px;

margin:10px 0;

}



footer {


background:#171d25;

padding:30px;

text-align:center;

margin-top:50px;

}